@media only screen and (max-width: 576px) {

.bg-h1 {
  font-size: 30px;
  margin-top: 30px;
}
.bg-p {
    font-size: 20px;
}
.pt-5 {
    padding-top: 2rem!important;
}

.infosection h3 {
  font-size: 20px;
}
.infosection p {
  font-size: 18px;
}
.new_highlights_flex {
    margin-left: 0px; 
}
}

