@font-face {
  font-family: 'glaho';
  src: url(../fonts/BPGGlahoWEBCaps.ttf);
  src: url(../fonts/BPGGlahoWEBCaps.eot);
  src: url(../fonts/BPGGlahoWEBCaps.woff);
  src: url(../fonts/BPGGlahoWEBCaps.woff2);
}

@font-face {
  font-family: 'ninof';
  src: url(../fonts/BPGNinoMkhedruliBook.ttf);
  src: url(../fonts/BPGNinoMkhedruliBook.eot);
  src: url(../fonts/BPGNinoMkhedruliBook.woff);
  src: url(../fonts/BPGNinoMkhedruliBook.woff2);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*reset css end*/

.container-fluid{
  background: #f8f9fa;
}

.img-fluid {
  width: 200px;
}
nav a {
  color: black;
  font-family: "ninof";
  font-size: 24px;
}
.bg-image {
  background-image: url("../img/new-york-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

}
.bg-h1 
{
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: white;
}
.bg-p {
  font-size: 30px;
}

.btn{
  margin-top: 30px;
}
.infosection {
  padding-bottom: 60px;
  padding-top: 60px;
}
.infosection p{
  font-size: 20px;
   font-family: "ninof";
  padding-bottom: 20px;
  float: left;
}
.new_highlights h2 {
  font-size: 30px;
   font-family: "glaho";
  padding-bottom: 30px;
}

.new_highlights h3 {
  font-size: 24px;
  font-family: "glaho";
  padding-bottom: 30px;
  float: left;
  margin-left: 20px;
}
.new_highlights img{
  float: left;
}
.new_highlights a{
  float: left;
}
.new_highlights {
  margin-bottom: 30px;
  float: left;
}

.imgh3 {
   padding-bottom: 30px;
 }

.new_highlights_flex
{
   padding-bottom: 30px;
   margin-left: 20px;
}

.new_highlights_flex h2 {
  font-size: 30px;
   font-family: "glaho";
 
}

.new_highlights_flex h3 {
  font-size: 24px;
  font-family: "glaho";
  margin-left: 20px;
}

#readmoree {
  display: none;
  transition:3s ease-in-out;
}

.navbar-toggler-icon {
    background-image: url("../img/menu.svg");
}

.new_highlights_flexx
{
   padding-bottom: 30px;
   
}

.new_highlights_flexx h2 {
  font-size: 30px;
   font-family: "glaho";
 
}

.new_highlights_flexx h3 {
  font-size: 24px;
  font-family: "glaho";
  margin-left: 20px;
}

.new_highlights_flexx p {
  font-size: 20px;
  font-family: "ninof";
  float: none;
 
}
.center{
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
}

.p30 {
  padding:15px;
}